.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
    margin-bottom: 4px;
}

.container{
    width: 300px;
    overflow:hidden;
    background-color: black;
    color: white;
    border-radius: 8px ;

}
.description{
    padding: 4px;
}
.cardtitile{
    font-weight: bold;
    font-size: large;
}
.cardpara{
    margin-top: 2px;
}