.nav{
    background-color: rgba(14, 68, 184, 0.881);
    padding-top: 4px;
    padding-bottom: 4px;
}
.heading{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color:white;
}