.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cards{
  width:100vw;
  max-width: 1200px;
  margin-left: auto;
  margin-right:auto;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

}